HELP.md
java/chemicalsystem/target/
core/edu-auth-core/target/
core/chemicalsystem/target/
core/chemicalsystem/var/
!.mvn/wrapper/maven-wrapper.jar
java/chemicalsystem/mvnw
java/chemicalsystem/mvnw.cmd


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
*.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

.mvn
